html, body {
  height: 100%;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  max-width: 680px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

nav .logo {
  padding: 10px;
  font-size: 18px;
  width: 30%;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
  overflow-x: auto;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ddd;
}

nav ul::-webkit-scrollbar {
  height: 5px;
  width: 20px;
}

nav ul::-webkit-scrollbar-track {
  background: gray;
}

nav ul::-webkit-scrollbar-thumb {
  background: cyan;
}
