    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: lightcyan;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      width: 680px;
    }

    .card {
      text-align: center;
      width: 100%;
    }

    .heading {
      background-color: lightgray;
      padding: 10px;
      cursor: pointer;
    }

    .para {
      background: white;
      padding: 10px;
      display: none;
    }