* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.top-box {
	height: 250px;
	background-color: rgb(57, 64, 97);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.top-box h1,
.top-box p {
	margin-bottom: 10px;
}
.team {
	text-align: center;
	max-width: 888px;
	margin: auto;
}
.team h2 {
	margin: 1rem 0;
}
.team .members {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	justify-content: space-around;
}
.team .member {
	text-align: left;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 4px 4px 4cqi rgba(0, 0, 0, 0.4);
}
.team .member .details {
	padding: 10px;
}
.details h3,
.details p,
.details button {
	margin-bottom: 10px;
}
.details p {
	font-size: 14px;
}
.team .members .img img {
	height: 168px;
	width: 100%;
}
.team .member .work {
	font-weight: 500;
	color: rgb(172, 172, 172);
}
.team .member button {
	width: 100%;
	background-color: black;
	padding: 4px 8px;
	color: white;
}

@media (max-width: 480px) {
	.team .members {
		grid-template-columns: 80%;
	}
}
